/* src/components/UserHistoryRow.module.scss */

.item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
}

.itemImage {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  object-fit: cover;
  margin-right: 12px;
}

.itemDetails {
  flex-grow: 1;
}

.category {
  font-weight: 590;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.2px;
  vertical-align: bottom;
  color: var(--secondary-text-light);

  :global(.dark) & {
    color: var(--secondary-text-dark);
  }
}

.name {
  font-weight: 590;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.7px;
  color: var(--primary-text-light);

  :global(.dark) & {
    color: var(--primary-text-dark);
  }
}

.itemMeta {
  text-align: right;
}

.date {
  font-weight: 590;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.2px;
  text-align: right;
  vertical-align: bottom;
  color: var(--secondary-text-light);

  :global(.dark) & {
    color: var(--secondary-text-dark);
  }
}

.price {
  font-weight: 590;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.7px;
  text-align: right;
  color: var(--primary-text-light);

  :global(.dark) & {
    color: var(--primary-text-dark);
  }
}

.noResult {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--primary-text-dark);

  :global(.light) & {
    color: var(--primary-text-light);
  }
}

.noResultTitle {
  font-weight: 590;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.38px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 8px;
  color: var(--primary-text-light);

  :global(.dark) & {
    color: var(--primary-text-dark);
  }
}

.noResultSubtitle {
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.43px;
  text-align: center;
  color: var(--secondary-text-light);

  :global(.dark) & {
    color: var(--secondary-text-dark);
  }
}
