$bottom-tabbar-height: 60px;

.bottomTabbar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 55555;
  display: flex;
  border-top: 0.33px solid var(--system-border, #00000014);
  background: white;

  :global(.dark) & {
    background: black;
  }

  .tab {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    padding-top: 7px;
    color: rgb(0, 0, 0, 0.2);

    :global(.dark) & {
      color: rgb(255, 255, 255, 0.2);
    }


    &.tabActive {
      color: black;
      font-weight: bold;

      :global(.dark) & {
        background: black;
        color: white;
      }
    }

    .label {
      margin-top: 5px;
      font-weight: 510;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.07px;
      text-align: center;
    }

    svg {
      fill: currentColor;
    }
  }
}


.itemImage {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  object-fit: cover;
}
