$card-height: 173px;

.imageLink {
  display: block;
  text-decoration: none;
}

.imageWrapper {
  width: 100%;
  height: $card-height;
  aspect-ratio: unset;
  overflow: hidden;
  border-radius: 16px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.productImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

:global(.swiper-pagination-bullet) {
  width: 4px;
  height: 4px;
  border-radius: 999px;
  transition: all 0.2s ease;
  margin: 0 3px !important;
}

:global(.swiper-pagination-bullet-active) {
  width: 20px;
  height: 4px;
  background: white;
  border-radius: 999px;
}
