$card-height: 173px;

.productCard {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}

.productLink {
  text-decoration: none;
  font-weight: 590;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.7px;
  margin-top: 8px;
  margin-bottom: 2px;
  margin-left: 8px;
  color: black;

  :global(.dark) & {
    color: white;
  }
}

.priceWrapper {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.price {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.2px;
  vertical-align: bottom;
  margin-right: 4px;
}

.currency {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.2px;
  vertical-align: bottom;
  color: rgb(128, 128, 128);
}

.imageWrapper {
  position: relative;
}

.tick {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  z-index: 1;
  background: black;
  color: white;

  :global(.light) & {
    background: white;
    color: black;
  }

  svg {
    fill: currentColor;
  }
}


.skeletonImage {
  width: 100%;
  height: $card-height;
  background: #ccc;
  border-radius: 8px;
  animation: pulse 1.5s infinite ease-in-out;
}

.skeletonText {
  height: 24px;
  width: 70%;
  margin: 8px 0 2px 8px;
  background: #ccc;
  border-radius: 6px;
  animation: pulse 1.5s infinite ease-in-out;
}
.skeletonPrice {
  height: 20px;
  width: 40%;
  margin-left: 8px;
  background: #ccc;
  border-radius: 4px;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f5f5f5;
  }
  100% {
    background-color: #e0e0e0;
  }
}
