$card-height: 173px;

.productCard {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}

.productLink {
  text-decoration: none;
  font-weight: 590;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.7px;
  margin-top: 8px;
  margin-bottom: 2px;
  margin-left: 8px;
  color: var(--primary-text-light);

  :global(.dark) & {
    color: var(--primary-text-dark);
  }
}

.priceWrapper {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.price {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.2px;
  vertical-align: bottom;
  margin-right: 4px;
}

.currency {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.2px;
  vertical-align: bottom;
  color: var(--secondary-text-light);

  :global(.dark) & {
    color: var(--secondary-text-dark);
  }
}

.imageWrapper {
  position: relative;
}

.tick {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  z-index: 1;
  background: var(--primary-bg-dark);
  color: var(--primary-text-dark);

  :global(.light) & {
    background: var(--primary-bg-light);
    color: var(--primary-text-light);
  }

  svg {
    fill: currentColor;
  }
}
