.storeContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 12px;
  row-gap: 28px;
  padding: 8px 16px 16px;
}

.status {
  grid-column: span 2;
  text-align: center;
  padding: 2rem 0;
  color: #666;
}
