.listHeader {
  position: relative;
  padding-top: 40px;
  padding-left: 16px;
  padding-right: 16px;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 32px;
}

.headerImage {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  object-fit: cover;
  margin-bottom: 8px;
}

.name {
  font-weight: 590;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.38px;
}

.title {
  font-weight: 590;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  vertical-align: middle;
  padding-top: 16px;
}

.walletControl {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.connectLink {
  background: transparent;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #007aff;
  cursor: pointer;
  transition: color 0.2s ease;

  &:hover {
    color: #005ecb;
  }
}

.addressContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addressLink {
  background: transparent;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #007aff;
  cursor: pointer;
  text-align: center;

  :global(.light) & {
    color:  #000aff;
  }
}

.disconnectDropdown {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 4px;
  padding: 8px 12px;
  font-size: 13px;
  border-radius: 6px;
  cursor: pointer;
  white-space: nowrap;
  z-index: 950;
  opacity: 0;
  visibility: hidden;
  background: var(--primary-bg-light);
  box-shadow: rgba(158, 158, 158, 0.4) 0 4px 12px 0;
  color: var(--primary-text-light);

  :global(.light) & {
    color: var(--primary-text-light);
  }

  &.visible {
    opacity: 1;
    visibility: visible;
  }
}
