.sheetContainer {
  background: var(--primary-bg-light) !important;

  :global(.dark) & {
    background: var(--primary-bg-dark) !important;
  }
}

.sheetContent {
  border-radius: 20px 20px 0 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  touch-action: manipulation;
  background: var(--primary-bg-light);

  :global(.dark) & {
    background: var(--primary-bg-dark);
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
}

.headerTitle {
  font-weight: 590;
  font-size: 20px;
  line-height: 24px;
}

.closeButton {
  position: absolute;
  right: 0;
  top: 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-bg-dark);
  color: var(--primary-text-dark);

  :global(.dark) & {
    color: var(--primary-text-light);
    background: var(--primary-bg-light);
  }

  svg {
    fill: currentColor;
  }
}

.body {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 8px 0 16px;
}

.noDataBody {
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noDataWrapper {
  text-align: center;
  width: 100%;
}

.footer {
  padding-top: 16px;
  padding-bottom: env(safe-area-inset-bottom);
}

.buyButton,
.okButton {
  width: 100%;
  height: 50px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background: var(--primary-bg-dark);
  color: var(--primary-text-dark);

  :global(.dark) & {
    background: var(--primary-text-dark);
    color: var(--primary-text-light);
  }
}

.buttonText {
  font-weight: 600;
  font-size: 17px;
  line-height: 17px;
  letter-spacing: -0.4px;
}

.noItemTitle {
  font-weight: 590;
  font-size: 26px;
  color: var(--primary-text-light);

  :global(.dark) & {
    color: var(--primary-text-dark);
  }
}

.noItemContent {
  font-size: 17px;
  color: var(--secondary-text-light);

  :global(.dark) & {
    color: var(--secondary-text-dark);
  }
}

.customBackdrop {
  pointer-events: none !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(8px) !important;
}

.noClickBackdrop {
  position: fixed;
  inset: 0;
  z-index: 799;
  pointer-events: auto;
  background: transparent;
}
