.mainImageWrapper {
  flex: 1;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 12px;
  margin-top: 16px;
}

.mainImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.mainImageSwiper {
  width: 100%;
  height: 100%;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
