$bottom-tab-height: 60px;

.appContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: $bottom-tab-height;
}

.content {
  flex: 1;
  overflow-y: auto;
}

.bottomTabbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $bottom-tab-height;
  z-index: 55555;
  background: #fff;
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, .1);
  display: flex;

  .tab {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: #555;

    &.tabActive {
      color: #000; /* highlight the active tab */
      font-weight: bold;
    }

    .label {
      font-size: 12px;
      margin-top: 2px;
    }
  }
}
