.pageWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: black;
  color: white;
}

.nonScrollable {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 16px;
}

.mainImageWrapper {
  flex: 1;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 12px;
  margin-top: 16px;
}

.mainImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.fixedBottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-right: 16px;
  padding-left: 16px;
}

.actions {
  display: flex;
  gap: 12px;

  & > button {
    flex: 1;
    padding: 14px 0;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.4px;
    font-weight: 590;
    border-radius: 12px;
  }

  .addToCart {
    background: #222;
    color: white;
  }

  .buyNow {
    background: white;
    color: black;
  }
}

.tag {
  margin-right: 8px;
}

.quantityControls {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141414;
  border-radius: 12px;
}

.decrementButton,
.incrementButton {
  width: 32px;
  height: 32px;
  border: none;
  background: transparent;
  color: #fff;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  transition:
    opacity 0.2s,
    background 0.2s;
}

.incrementButton {
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background: transparent;
  }
}

.quantityLabel {
  margin: 0 8px;
  font-size: 20px;
  min-width: 24px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
}
