.actions {
  display: flex;
  gap: 12px;

  & > button {
    flex: 1;
    padding: 14px 0;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.4px;
    font-weight: 590;
    border-radius: 12px;
    border: none;
    transition:
      opacity 0.2s,
      background 0.2s,
      color 0.2s;
  }

  .addToCart {
    background: var(--primary-bg-dark);
    color: var(--primary-text-dark);

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      background: #555;
      color: #ccc;
    }

    :global(.light) & {
      background: rgb(235, 235, 235);
      color: #000;

      &:disabled {
        background: #eee;
        color: #999;
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }

  .buyNow {
    background: var(--primary-bg-light);
    color: var(--primary-text-light);

    :global(.light) & {
      background: var(--primary-bg-dark);
      color: #fff;
    }
  }
}

.quantityControls {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141414;
  border-radius: 12px;
  transition:
    background-color 0.2s,
    color 0.2s;

  :global(.light) & {
    background-color: #f0f0f0;
  }
}

.decrementButton,
.incrementButton {
  width: 32px;
  height: 32px;
  border: none;
  background: transparent;
  color: #fff;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  transition:
    opacity 0.2s,
    background 0.2s,
    color 0.2s;

  :global(.light) & {
    color: #000;
  }

  svg {
    fill: white;
  }

  :global(.light) & {
    svg {
      fill: black;
    }
  }
}

.incrementButton {
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background: transparent;
  }

  /* Light‐theme disabled styling */
  :global(.light) & {
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      background: transparent;
      color: #666;
    }
  }

  svg {
    fill: white;
  }

  :global(.light) & {
    svg {
      fill: black;
    }
  }
}

.quantityLabel {
  margin: 0 8px;
  font-size: 20px;
  min-width: 24px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  transition: color 0.2s;

  :global(.light) & {
    color: #000;
  }
}
