:root {
  --primary-text-light: #000;
  --primary-text-dark: #fff;
  --secondary-text-light: rgb(0, 0, 0, 0.5);
  --secondary-text-dark: rgb(255, 255, 255, 0.5);
  --primary-bg-light: #fff;
  --primary-bg-dark: #000;
}
