.cartItemRow {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.cartItemImage {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 12px;
  flex-shrink: 0;
}

.cartItemDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cartItemText {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.cartItemCategory {
  font-weight: 590;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.2px;
  vertical-align: bottom;
  color: rgb(128, 128, 128);
}

.cartItemName {
  font-weight: 590;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.7px;
  color: black;

  :global(.dark) & {
    color: white;
  }
}

.cartItemPricing {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  font-size: 13px;
  color: rgb(128, 128, 128);
}

.cartItemQuantity {
  font-weight: 500;
  color: black;

  :global(.dark) & {
    color: white;
  }
}

.cartItemUnitPrice {
  font-style: italic;
  color: rgb(128, 128, 128);
}

.rightWrapper {
  display: flex;
  align-items: center;
}

.cartItemTotalPrice {
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.43px;
  color: black;

  :global(.dark) & {
    color: white;
  }
}

.removeButton {
  padding-left: 6px;
  padding-right: 6px;
  height: 28px;
  border-radius: 8px;
  margin-left: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;

  :global(.dark) & {
    background: white;
    color: black;
  }

  svg {
    fill: currentColor;
  }
}
